body {
    margin: 0;
    font-size: large;
}
header {
    background: linear-gradient(rgba(95, 63, 15, 0.548),rgba(95, 63, 15, 0.548)), 
                url("img/Singer-1994-Porsche-911-Minnesota-rear-three-quarter-in-motion-03.jpg")
                no-repeat;
    background-position: center;
    width: 100%;
    height: 75%;
    font: small-caps bold 24px/1 sans-serif;
    color: white;
    text-shadow: 1px 1px 2px black;
}

header > * {
    padding: 1% 5%;
}

nav {
    display: grid;
    grid-gap: 10px;
}

nav > a {
    text-decoration: none;
    color: white;
}

h2 {
    font-family: sans-serif;
}

.imgbox {
    max-width: 100%;
    display: grid;
    grid-gap: 5px;
}

.imgbox > img {
    width: 100%;
    object-fit: cover;
}

.contact {
    max-width: 100%;
    display: grid;
    background-color: black;
    color: white;
    padding: 10px;
}

.contact > form {
    display: grid;
    grid-gap: 5px;
}

form > label {
    padding-top: 20px;
    color: white;
    font-family: sans-serif;
}

form > input {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

form > textarea {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

form > input[type="submit"] {
    width: 150px;
    height: 50px;
    font-size: large;
}

@media screen and (min-width: 770px) {
    .about {
        display: grid;
        grid-template-columns: auto max-content auto;
    }

    .about > * {
        grid-column-start: 2;
        max-width: 740px;
    }

    .imgbox {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: max-content;
        padding-left: 10px
    }

    .imgbox > p {
        grid-column-start: 1;
        max-width: 740px;
    }

    .contact {
        grid-template-columns: auto max-content auto;
    }
    
    .contact > form {
        grid-column-start: 2;
        width: 740px;
    }
}