.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container > * {
    grid-column: 1 / -1;
}

.container > div {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: max-content;
}
.container > div > img {
    width: 100%;
    object-fit: cover;
}